**Attempt 1**


---

Optimization Techniques:

*   Dropped fewer columns - This time NAME will not be dropped.
*   Created bins for rare occurrences in NAME column.

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID column 'EIN'.
application_df = application_df.drop(columns=['EIN'])

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
filtered_classification_value_counts = classification_value_counts[classification_value_counts > 1]

print(filtered_classification_value_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Look at NAME value counts to identify and replace with "Other"
print(application_df['NAME'].value_counts())

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [10]:
# You may find it helpful to look at NAME value counts >1
name_value_counts = application_df['NAME'].value_counts()
filtered_name_value_counts = name_value_counts[name_value_counts > 1]

print(filtered_name_value_counts)

NAME
PARENT BOOSTER USA INC                                            1260
TOPS CLUB INC                                                      765
UNITED STATES BOWLING CONGRESS INC                                 700
WASHINGTON STATE UNIVERSITY                                        492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                    408
                                                                  ...
VETERANS OF FOREIGH WARS OF THE UNITED STATES DEPT OF COLORADO       2
ETA PHI BETA SORORITY INC                                            2
POINT MAN INTERNATIONAL MINISTRIES                                   2
MULTI COMMUNITY DIVERSIFIED SERVICES INC                             2
VETERANS OF FOREIGN WARS AUXILIARY                                   2
Name: count, Length: 792, dtype: int64

In [11]:
# You may find it helpful to look at NAME value counts >2
name_value_counts_2 = application_df['NAME'].value_counts()
filtered_name_value_counts_2 = name_value_counts_2[name_value_counts_2 > 2]

print(filtered_name_value_counts_2)

NAME
PARENT BOOSTER USA INC                                             1260
TOPS CLUB INC                                                       765
UNITED STATES BOWLING CONGRESS INC                                  700
WASHINGTON STATE UNIVERSITY                                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                     408
                                                                   ...
ENTREPRENEURS ORGANIZATION                                            3
CENTER FOR THE STUDY OF CLASSICAL ARCHITECTURE INC                    3
VETERANS OF FOREIGN WARS OF THE UNITED STATES DEPT OF TENNESSEE       3
AMERICAN MARKETING ASSOCIATION INC                                    3
UNITED STATES BOWLING CONGRESS                                        3
Name: count, Length: 577, dtype: int64

In [12]:
# You may find it helpful to look at NAME value counts >5
name_value_counts_5 = application_df['NAME'].value_counts()
filtered_name_value_counts_5 = name_value_counts_5[name_value_counts_5 > 5]

print(filtered_name_value_counts_5)

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [13]:
# You may find it helpful to look at NAME value counts >100
name_value_counts_100 = application_df['NAME'].value_counts()
filtered_name_value_counts_100 = name_value_counts_100[name_value_counts_100 > 100]

print(filtered_name_value_counts_100)

NAME
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
Name: count, dtype: int64

In [15]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < 300].index.tolist()

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                              29662
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
Name: count, dtype: int64

In [16]:
print(application_df.dtypes)

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [17]:
# Identify the categorical columns in your DataFrame
categorical_columns = ['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Convert categorical data to numeric with `pd.get_dummies`
application_encoded = pd.get_dummies(application_df[categorical_columns])

In [18]:
# Concatenate the application_df and the application_encoded DataFrames
application_df = pd.concat([application_df, application_encoded], axis=1)

application_df = application_df.drop(categorical_columns, axis=1)

# Display sample data
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOPS CLUB INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [19]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
hidden_layer_units_1 =  80
hidden_layer_units_2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_units_1, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_units_2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             4,240

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 6,701 (26.18 KB)

 Trainable params: 6,701 (26.18 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  4s 2ms/step - accuracy: 0.7066 - loss: 0.5660
Epoch 2/100
804/804  3s 2ms/step - accuracy: 0.7392 - loss: 0.5179
Epoch 3/100
804/804  3s 3ms/step - accuracy: 0.7368 - loss: 0.5237
Epoch 4/100
804/804  3s 3ms/step - accuracy: 0.7478 - loss: 0.5132
Epoch 5/100
804/804  4s 2ms/step - accuracy: 0.7492 - loss: 0.5090
Epoch 6/100
804/804  2s 2ms/step - accuracy: 0.7417 - loss: 0.5179
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7509 - loss: 0.5106
Epoch 8/100
804/804  2s 3ms/step - accuracy: 0.7476 - loss: 0.5125
Epoch 9/100
804/804  4s 4ms/step - accuracy: 0.7424 - loss: 0.5164
Epoch 10/100
804/804  3s 2ms/step - accuracy: 0.7470 - loss: 0.5129
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7449 - loss: 0.5150
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7523 - loss: 0.5076
Epoch 13/100
804/804  3s 3ms/step - accuracy: 0.7461 - loss: 0.5131
Epoch 14/100
804/804  3s 4ms/step - accuracy: 0.7487 - loss: 0.5094
Epoch 15/100
804/804  4s 2ms/step - accuracy: 0.7508 - loss: 0.5073
Epoch 16/100
804/804  2s 2ms/step - accuracy: 0.7470 - loss: 0.5111
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7498 - loss: 0.5094
Epoch 18/100
804/804  3s 2ms/step - accuracy: 0.7461 - loss: 0.5170
Epoch 19/100
804/804  4s 4ms/step - accuracy: 0.7465 - loss: 0.5140
Epoch 20/100
804/804  2s 2ms/step - accuracy: 0.7508 - loss: 0.5114
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7499 - loss: 0.5078
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7460 - loss: 0.5103
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.7466 - loss: 0.5111
Epoch 24/100
804/804  3s 3ms/step - accuracy: 0.7467 - loss: 0.5128
Epoch 25/100
804/804  4s 2ms/step - accuracy: 0.7542 - loss: 0.5048
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7476 - loss: 0.5118
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7467 - loss: 0.5129
Epoch 28/100
804/804  3s 2ms/step - accuracy: 0.7445 - loss: 0.5136
Epoch 29/100
804/804  2s 3ms/step - accuracy: 0.7501 - loss: 0.5090
Epoch 30/100
804/804  3s 3ms/step - accuracy: 0.7533 - loss: 0.5021
Epoch 31/100
804/804  4s 2ms/step - accuracy: 0.7527 - loss: 0.5057
Epoch 32/100
804/804  2s 2ms/step - accuracy: 0.7490 - loss: 0.5102
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.7519 - loss: 0.5070
Epoch 34/100
804/804  3s 2ms/step - accuracy: 0.7551 - loss: 0.5018
Epoch 35/100
804/804  3s 3ms/step - accuracy: 0.7529 - loss: 0.5050
Epoch 36/100
804/804  4s 2ms/step - accuracy: 0.7521 - loss: 0.5072
Epoch 37/100
804/804  3s 2ms/step - accuracy: 0.7486 - loss: 0.5100
Epoch 38/100
804/804  3s 2ms/step - accuracy: 0.7499 - loss: 0.5092
Epoch 39/100
804/804  4s 3ms/step - accuracy: 0.7525 - loss: 0.5063
Epoch 40/100
804/804  4s 2ms/step - accuracy: 0.7519 - loss: 0.5032
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.7512 - loss: 0.5041
Epoch 42/100
804/804  3s 2ms/step - accuracy: 0.7495 - loss: 0.5038
Epoch 43/100
804/804  1s 2ms/step - accuracy: 0.7468 - loss: 0.5095
Epoch 44/100
804/804  4s 3ms/step - accuracy: 0.7507 - loss: 0.5071
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7509 - loss: 0.5039
Epoch 46/100
804/804  2s 3ms/step - accuracy: 0.7539 - loss: 0.5033
Epoch 47/100
804/804  2s 2ms/step - accuracy: 0.7570 - loss: 0.5024
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7506 - loss: 0.5059
Epoch 49/100
804/804  2s 3ms/step - accuracy: 0.7540 - loss: 0.5010
Epoch 50/100
804/804  3s 4ms/step - accuracy: 0.7555 - loss: 0.5000
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7538 - loss: 0.5049
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.7547 - loss: 0.5048
Epoch 53/100
804/804  2s 2ms/step - accuracy: 0.7518 - loss: 0.5040
Epoch 54/100
804/804  2s 3ms/step - accuracy: 0.7519 - loss: 0.5028
Epoch 55/100
804/804  3s 3ms/step - accuracy: 0.7485 - loss: 0.5093
Epoch 56/100
804/804  3s 4ms/step - accuracy: 0.7501 - loss: 0.5052
Epoch 57/100
804/804  4s 2ms/step - accuracy: 0.7520 - loss: 0.5032
Epoch 58/100
804/804  2s 3ms/step - accuracy: 0.7534 - loss: 0.5004
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.7520 - loss: 0.5006
Epoch 60/100
804/804  3s 3ms/step - accuracy: 0.7553 - loss: 0.5006
Epoch 61/100
804/804  3s 4ms/step - accuracy: 0.7510 - loss: 0.5072
Epoch 62/100
804/804  4s 2ms/step - accuracy: 0.7546 - loss: 0.5029
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7518 - loss: 0.5030
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.7517 - loss: 0.5062
Epoch 65/100
804/804  3s 3ms/step - accuracy: 0.7528 - loss: 0.5032
Epoch 66/100
804/804  3s 4ms/step - accuracy: 0.7527 - loss: 0.5012
Epoch 67/100
804/804  4s 2ms/step - accuracy: 0.7550 - loss: 0.5014
Epoch 68/100
804/804  3s 3ms/step - accuracy: 0.7474 - loss: 0.5052
Epoch 69/100
804/804  2s 2ms/step - accuracy: 0.7553 - loss: 0.5000
Epoch 70/100
804/804  3s 4ms/step - accuracy: 0.7561 - loss: 0.5012
Epoch 71/100
804/804  3s 3ms/step - accuracy: 0.7530 - loss: 0.5047
Epoch 72/100
804/804  4s 2ms/step - accuracy: 0.7522 - loss: 0.4997
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.7517 - loss: 0.5045
Epoch 74/100
804/804  3s 2ms/step - accuracy: 0.7516 - loss: 0.5018
Epoch 75/100
804/804  4s 4ms/step - accuracy: 0.7559 - loss: 0.5005
Epoch 76/100
804/804  4s 2ms/step - accuracy: 0.7553 - loss: 0.5012
Epoch 77/100
804/804  3s 2ms/step - accuracy: 0.7556 - loss: 0.5005
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7531 - loss: 0.5026
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7500 - loss: 0.5048
Epoch 80/100
804/804  4s 4ms/step - accuracy: 0.7540 - loss: 0.5012
Epoch 81/100
804/804  3s 2ms/step - accuracy: 0.7517 - loss: 0.5026
Epoch 82/100
804/804  3s 2ms/step - accuracy: 0.7488 - loss: 0.5074
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7530 - loss: 0.5049
Epoch 84/100
804/804  3s 3ms/step - accuracy: 0.7498 - loss: 0.5030
Epoch 85/100
804/804  3s 3ms/step - accuracy: 0.7541 - loss: 0.5036
Epoch 86/100
804/804  4s 2ms/step - accuracy: 0.7521 - loss: 0.5031
Epoch 87/100
804/804  2s 2ms/step - accuracy: 0.7535 - loss: 0.5016
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.7514 - loss: 0.5010
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.7522 - loss: 0.5009
Epoch 90/100
804/804  3s 3ms/step - accuracy: 0.7510 - loss: 0.5057
Epoch 91/100
804/804  2s 3ms/step - accuracy: 0.7557 - loss: 0.4975
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.7502 - loss: 0.5077
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.7522 - loss: 0.5001
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.7525 - loss: 0.5018
Epoch 95/100
804/804  3s 3ms/step - accuracy: 0.7515 - loss: 0.5039
Epoch 96/100
804/804  3s 4ms/step - accuracy: 0.7567 - loss: 0.4966
Epoch 97/100
804/804  2s 3ms/step - accuracy: 0.7549 - loss: 0.4984
Epoch 98/100
804/804  3s 3ms/step - accuracy: 0.7526 - loss: 0.4985
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7521 - loss: 0.5023
Epoch 100/100
804/804  2s 2ms/step - accuracy: 0.7556 - loss: 0.4995

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7403 - loss: 0.5251
Loss: 0.5250754952430725, Accuracy: 0.7402915358543396

**The target predictive accuracy increased from 0.7238 to 0.7403.**

In [26]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.