**Attempt 2**


---

Optimization Techniques:

*   Dropped fewer columns - This time NAME will not be dropped. - From Attempt 1
*   Created bins for rare occurrences in NAME column. - From Attempt 1
*  Created bins for rare occurrences in ASK_AMT column.

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID column 'EIN'.
application_df = application_df.drop(columns=['EIN'])

In [ ]:
# Determine the number of unique values in each column.
print(application_df.nunique())

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
filtered_classification_value_counts = classification_value_counts[classification_value_counts > 1]

print(filtered_classification_value_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Look at NAME value counts to identify and replace with "Other"
print(application_df['NAME'].value_counts())

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [ ]:
# You may find it helpful to look at NAME value counts >1
name_value_counts = application_df['NAME'].value_counts()
filtered_name_value_counts = name_value_counts[name_value_counts > 1]

print(filtered_name_value_counts)

NAME
PARENT BOOSTER USA INC                                            1260
TOPS CLUB INC                                                      765
UNITED STATES BOWLING CONGRESS INC                                 700
WASHINGTON STATE UNIVERSITY                                        492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                    408
                                                                  ...
VETERANS OF FOREIGH WARS OF THE UNITED STATES DEPT OF COLORADO       2
ETA PHI BETA SORORITY INC                                            2
POINT MAN INTERNATIONAL MINISTRIES                                   2
MULTI COMMUNITY DIVERSIFIED SERVICES INC                             2
VETERANS OF FOREIGN WARS AUXILIARY                                   2
Name: count, Length: 792, dtype: int64

In [ ]:
# You may find it helpful to look at NAME value counts >2
name_value_counts_2 = application_df['NAME'].value_counts()
filtered_name_value_counts_2 = name_value_counts_2[name_value_counts_2 > 2]

print(filtered_name_value_counts_2)

NAME
PARENT BOOSTER USA INC                                             1260
TOPS CLUB INC                                                       765
UNITED STATES BOWLING CONGRESS INC                                  700
WASHINGTON STATE UNIVERSITY                                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                     408
                                                                   ...
ENTREPRENEURS ORGANIZATION                                            3
CENTER FOR THE STUDY OF CLASSICAL ARCHITECTURE INC                    3
VETERANS OF FOREIGN WARS OF THE UNITED STATES DEPT OF TENNESSEE       3
AMERICAN MARKETING ASSOCIATION INC                                    3
UNITED STATES BOWLING CONGRESS                                        3
Name: count, Length: 577, dtype: int64

In [ ]:
# You may find it helpful to look at NAME value counts >5
name_value_counts_5 = application_df['NAME'].value_counts()
filtered_name_value_counts_5 = name_value_counts_5[name_value_counts_5 > 5]

print(filtered_name_value_counts_5)

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [ ]:
# You may find it helpful to look at NAME value counts >100
name_value_counts_100 = application_df['NAME'].value_counts()
filtered_name_value_counts_100 = name_value_counts_100[name_value_counts_100 > 100]

print(filtered_name_value_counts_100)

NAME
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < 300].index.tolist()

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                              29662
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
Name: count, dtype: int64

In [ ]:
# Look at ASK_AMT value counts
print(application_df['ASK_AMT'].value_counts())

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [ ]:
application_df["ASK_AMT"].describe()

count    3.429900e+04
mean     2.769199e+06
std      8.713045e+07
min      5.000000e+03
25%      5.000000e+03
50%      5.000000e+03
75%      7.742000e+03
max      8.597806e+09
Name: ASK_AMT, dtype: float64

In [ ]:
# Define custom bins and labels for ASK_AMT
bins = [0, 5000, 7742, float('inf')]  # Define the thresholds for Low, Medium, High
labels = ['Low', 'Medium', 'High']       # Labels for the bins

# Apply custom binning to ASK_AMT
application_df['ASK_AMT_Binned'] = pd.cut(application_df['ASK_AMT'], bins=bins, labels=labels, include_lowest=True)

# Display the resulting DataFrame to check the new binned column
application_df.head(20)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,ASK_AMT_Binned
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,Low
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,High
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,Low
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,Medium
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,High
5,Other,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1,Low
6,Other,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1,High
7,Other,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1,High
8,Other,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1,High
9,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,Low
10,Other,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0,High
11,Other,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0,High
12,Other,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1,Low
13,Other,T3,Independent,Other,Preservation,Trust,1,25000-99999,N,5301,1,Medium
14,Other,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1,Low
15,Other,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1,Low
16,Other,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1,Low
17,Other,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0,High
18,Other,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0,Low
19,Other,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0,High

In [ ]:
# Drop the 'ASK_AMT'.
application_df = application_df.drop(columns=['ASK_AMT'])

# Display the updated DataFrame
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL,ASK_AMT_Binned
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,1,Low
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1,High
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0,Low
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1,Medium
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1,High

In [ ]:
print(application_df.dtypes)

NAME                        object
APPLICATION_TYPE            object
AFFILIATION                 object
CLASSIFICATION              object
USE_CASE                    object
ORGANIZATION                object
STATUS                       int64
INCOME_AMT                  object
SPECIAL_CONSIDERATIONS      object
IS_SUCCESSFUL                int64
ASK_AMT_Binned            category
dtype: object

In [ ]:
# Identify the categorical columns in your DataFrame
categorical_columns = ['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT_Binned']

# Convert categorical data to numeric with `pd.get_dummies`
application_encoded = pd.get_dummies(application_df[categorical_columns])

In [ ]:
# Concatenate the application_df and the application_encoded DataFrames
application_df = pd.concat([application_df, application_encoded], axis=1)

application_df = application_df.drop(categorical_columns, axis=1)

# Display sample data
application_df.head()

,STATUS,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_Binned_Low,ASK_AMT_Binned_Medium,ASK_AMT_Binned_High
0,1,1,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
1,1,1,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
2,1,0,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
3,1,1,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
4,1,1,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
hidden_layer_units_1 =  80
hidden_layer_units_2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_units_1, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_units_2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             4,400

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 6,861 (26.80 KB)

 Trainable params: 6,861 (26.80 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.7140 - loss: 0.5570
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7420 - loss: 0.5242
Epoch 3/100
804/804  2s 2ms/step - accuracy: 0.7436 - loss: 0.5207
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7484 - loss: 0.5147
Epoch 5/100
804/804  3s 3ms/step - accuracy: 0.7429 - loss: 0.5200
Epoch 6/100
804/804  4s 2ms/step - accuracy: 0.7411 - loss: 0.5187
Epoch 7/100
804/804  3s 2ms/step - accuracy: 0.7466 - loss: 0.5143
Epoch 8/100
804/804  2s 2ms/step - accuracy: 0.7476 - loss: 0.5131
Epoch 9/100
804/804  2s 2ms/step - accuracy: 0.7466 - loss: 0.5130
Epoch 10/100
804/804  3s 3ms/step - accuracy: 0.7474 - loss: 0.5136
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7407 - loss: 0.5127
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7444 - loss: 0.5123
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7462 - loss: 0.5089
Epoch 14/100
804/804  3s 2ms/step - accuracy: 0.7507 - loss: 0.5101
Epoch 15/100
804/804  3s 3ms/step - accuracy: 0.7521 - loss: 0.5045
Epoch 16/100
804/804  4s 5ms/step - accuracy: 0.7502 - loss: 0.5065
Epoch 17/100
804/804  4s 3ms/step - accuracy: 0.7494 - loss: 0.5089
Epoch 18/100
804/804  3s 3ms/step - accuracy: 0.7479 - loss: 0.5095
Epoch 19/100
804/804  2s 2ms/step - accuracy: 0.7493 - loss: 0.5097
Epoch 20/100
804/804  4s 3ms/step - accuracy: 0.7502 - loss: 0.5079
Epoch 21/100
804/804  4s 2ms/step - accuracy: 0.7513 - loss: 0.5086
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7522 - loss: 0.5044
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.7513 - loss: 0.5040
Epoch 24/100
804/804  3s 2ms/step - accuracy: 0.7465 - loss: 0.5121
Epoch 25/100
804/804  3s 3ms/step - accuracy: 0.7520 - loss: 0.5054
Epoch 26/100
804/804  2s 3ms/step - accuracy: 0.7462 - loss: 0.5135
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.7535 - loss: 0.5009
Epoch 28/100
804/804  3s 2ms/step - accuracy: 0.7488 - loss: 0.5100
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7550 - loss: 0.5024
Epoch 30/100
804/804  1s 2ms/step - accuracy: 0.7507 - loss: 0.5064
Epoch 31/100
804/804  3s 2ms/step - accuracy: 0.7546 - loss: 0.5009
Epoch 32/100
804/804  3s 3ms/step - accuracy: 0.7526 - loss: 0.5026
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.7536 - loss: 0.5031
Epoch 34/100
804/804  3s 2ms/step - accuracy: 0.7521 - loss: 0.5032
Epoch 35/100
804/804  2s 2ms/step - accuracy: 0.7547 - loss: 0.5034
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.7531 - loss: 0.5028
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7515 - loss: 0.5043
Epoch 38/100
804/804  3s 3ms/step - accuracy: 0.7544 - loss: 0.5032
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7528 - loss: 0.5015
Epoch 40/100
804/804  2s 2ms/step - accuracy: 0.7568 - loss: 0.5018
Epoch 41/100
804/804  3s 2ms/step - accuracy: 0.7503 - loss: 0.5030
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7569 - loss: 0.4988
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.7536 - loss: 0.5011
Epoch 44/100
804/804  4s 3ms/step - accuracy: 0.7482 - loss: 0.5104
Epoch 45/100
804/804  4s 2ms/step - accuracy: 0.7564 - loss: 0.5003
Epoch 46/100
804/804  3s 2ms/step - accuracy: 0.7528 - loss: 0.5021
Epoch 47/100
804/804  3s 2ms/step - accuracy: 0.7526 - loss: 0.5048
Epoch 48/100
804/804  3s 4ms/step - accuracy: 0.7556 - loss: 0.5004
Epoch 49/100
804/804  4s 2ms/step - accuracy: 0.7561 - loss: 0.5002
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.7549 - loss: 0.5020
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7519 - loss: 0.5028
Epoch 52/100
804/804  1s 2ms/step - accuracy: 0.7532 - loss: 0.5000
Epoch 53/100
804/804  2s 2ms/step - accuracy: 0.7507 - loss: 0.5043
Epoch 54/100
804/804  3s 3ms/step - accuracy: 0.7512 - loss: 0.5024
Epoch 55/100
804/804  2s 3ms/step - accuracy: 0.7564 - loss: 0.5003
Epoch 56/100
804/804  2s 2ms/step - accuracy: 0.7537 - loss: 0.4970
Epoch 57/100
804/804  2s 2ms/step - accuracy: 0.7561 - loss: 0.5020
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7571 - loss: 0.4968
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.7501 - loss: 0.5003
Epoch 60/100
804/804  3s 3ms/step - accuracy: 0.7529 - loss: 0.5000
Epoch 61/100
804/804  3s 3ms/step - accuracy: 0.7535 - loss: 0.4997
Epoch 62/100
804/804  4s 2ms/step - accuracy: 0.7554 - loss: 0.4984
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7556 - loss: 0.4988
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.7548 - loss: 0.4993
Epoch 65/100
804/804  2s 2ms/step - accuracy: 0.7543 - loss: 0.5018
Epoch 66/100
804/804  4s 4ms/step - accuracy: 0.7605 - loss: 0.4938
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7576 - loss: 0.4943
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.7546 - loss: 0.4978
Epoch 69/100
804/804  2s 2ms/step - accuracy: 0.7513 - loss: 0.5026
Epoch 70/100
804/804  2s 2ms/step - accuracy: 0.7560 - loss: 0.4984
Epoch 71/100
804/804  3s 2ms/step - accuracy: 0.7557 - loss: 0.4969
Epoch 72/100
804/804  4s 4ms/step - accuracy: 0.7536 - loss: 0.4977
Epoch 73/100
804/804  4s 2ms/step - accuracy: 0.7528 - loss: 0.4989
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7543 - loss: 0.5007
Epoch 75/100
804/804  3s 2ms/step - accuracy: 0.7533 - loss: 0.5008
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.7599 - loss: 0.4928
Epoch 77/100
804/804  3s 3ms/step - accuracy: 0.7600 - loss: 0.4933
Epoch 78/100
804/804  4s 2ms/step - accuracy: 0.7577 - loss: 0.4988
Epoch 79/100
804/804  3s 2ms/step - accuracy: 0.7494 - loss: 0.5053
Epoch 80/100
804/804  2s 2ms/step - accuracy: 0.7519 - loss: 0.5023
Epoch 81/100
804/804  2s 3ms/step - accuracy: 0.7514 - loss: 0.5013
Epoch 82/100
804/804  3s 3ms/step - accuracy: 0.7583 - loss: 0.4917
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7545 - loss: 0.4985
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.7567 - loss: 0.4950
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7561 - loss: 0.4947
Epoch 86/100
804/804  2s 2ms/step - accuracy: 0.7519 - loss: 0.5005
Epoch 87/100
804/804  2s 2ms/step - accuracy: 0.7534 - loss: 0.4954
Epoch 88/100
804/804  3s 3ms/step - accuracy: 0.7539 - loss: 0.4996
Epoch 89/100
804/804  4s 2ms/step - accuracy: 0.7570 - loss: 0.4965
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.7556 - loss: 0.4932
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.7589 - loss: 0.4945
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.7550 - loss: 0.4963
Epoch 93/100
804/804  4s 3ms/step - accuracy: 0.7582 - loss: 0.4963
Epoch 94/100
804/804  4s 2ms/step - accuracy: 0.7590 - loss: 0.4915
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.7559 - loss: 0.4973
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.7568 - loss: 0.4970
Epoch 97/100
804/804  2s 2ms/step - accuracy: 0.7571 - loss: 0.4980
Epoch 98/100
804/804  3s 2ms/step - accuracy: 0.7566 - loss: 0.4940
Epoch 99/100
804/804  3s 3ms/step - accuracy: 0.7550 - loss: 0.4989
Epoch 100/100
804/804  2s 2ms/step - accuracy: 0.7569 - loss: 0.4959

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7387 - loss: 0.5269
Loss: 0.5268723964691162, Accuracy: 0.7386589050292969

**The target predictive accuracy decreased sligltly from 0.7388 (Attempt 1) to 0.7387 (Attempt 2).**

In [ ]:
# # Export our model to HDF5 file
# nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.